/* Resets */

*,
*:before,
*:after {
    box-sizing: border-box;
}

:last-child {
    margin-bottom: 0;
}

figure, blockquote {
    margin: 0;
    position: relative;

    &:not(:last-child) {
        margin-bottom: .5em;
    }
}

figcaption {
    margin-bottom: 1em;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
}

summary::-webkit-details-marker,
summary::marker {
    /* Remove <details> triangle in Chrome, Safari and Firefox */
    display: none;
    content: none;
}

summary {
    /* Remove <details> triangle in Firefox */
    list-style-type: none;
    list-style: none;
}

button,
.testimonials-disclosure summary {
    font-size: 1em;
    appearance: none;
    -webkit-appearance: none;
    color: var(--color);
    border: 2px solid var(--accent);
    background: transparent;
    padding: .5em 2ch;
    border-radius: var(--radius);
    cursor: pointer;
    transition: .125s border-color ease-in-out;
    font-family: inherit;
    width: fit-content;
    
    &:not(:first-child) {
        margin-top: 1em;
    }
    
    &:is(:hover, :focus) {
        border-color: var(--color);
    }

    &:is(:active) {
        border-color: var(--accent-2);
    }
}

/* Styles */

:root {
    --sans-serif: "Afacad Flux", sans-serif;
    --serif: "Besley", serif;
    --background: #031126;
    --open: #192a43;
    --color: #ecf0fe;
    --accent: #28c8b0;
    --accent-2: #9f40b0;
    --height: 25vh;
    --row-gap: 1rem;
    --column-gap: 30px;
    --gap: var(--row-gap) var(--column-gap);
    --small-gap: 1.5ch;
    --radius: 4px;
    --heading-margin: .5em;
    font-size: 22px;
    color: #666;
    overflow-x: clip;
    background: var(--background);
    color: var(--color);
    font-family: var(--sans-serif);

    @media print {
        --text: #333;
        --light-text: #666;
        --background: white;
        --color: var(--text);
        --accent: var(--text);
        --row-gap: 15px;
        font-size: 12px;
    }
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1800px;
    padding-inline: clamp(15px, 6vw, 100px);

    @media print {
        max-width: 8.5in;
        display: block;
    }
}

header,
main,
footer {
    padding-block: var(--row-gap);
}

:is(h1, h2, h3, h4) {
    font-family: var(--serif);
    letter-spacing: -.05ch;
    margin-block: 0;
    font-weight: 500;
    line-height: 1.4;

    &:is(main *) {
        margin-bottom: var(--heading-margin);
    }

    &:is(:last-child) {
        margin-bottom: 0;
    }
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1em;

    & span {
        display: block;
        font-weight: normal;
    }
}


ul {
    list-style: none;
    padding: 0;
    margin: 0;

    &:not(:last-child) {
        margin-bottom: 1em;
    }
}

p {
    margin: 0;
    margin-bottom: .75rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    transition: .125s color ease-in-out;
    color: var(--accent);
}

a:is(:hover, :focus) {
    color: var(--color);
}

a.category-link {
    color: var(--color);
}

a:is(:hover, :focus).category-link {
    color: var(--accent);
}

.hidden {
    display: none;
}

.offscreen {
    position: absolute;
    left: -1000vw;
}

/* Header */

header {
    display: flex;
    align-items: center;
    gap: var(--gap);
    justify-content: space-between;
    flex-wrap: wrap;

    @media print {
        padding-bottom: 0;
    }
}

.logo {
    font-size: 1.2em;
    font-weight: bold;
    min-width: max-content;
    /* Don't wrap to second line if avoidable */

    & span {
        color: var(--accent);
        font-weight: 300;

        @media print {
            font-weight: normal;
        }
    }

    & label {
        font-family: var(--sans-serif);
        font-weight: 300;
        cursor: pointer;
        transition: .125s color ease-in-out;

        &:has(:checked) {
            color: var(--accent);
        }
    }
}

header nav {
    @media print  {
        display: none;
    }
}


header nav ul {
    display: flex;
    margin: 0;
    list-style: none;
    gap: var(--small-gap);

    & a {
        color: var(--color);
        text-decoration-color: transparent;
        transition: .125s color ease-in-out, .125s text-decoration-color;

        &:is(:hover, :focus) {
            color: var(--accent);
            text-decoration-color: currentColor;
        }
    }
}

/* Main */

.samples-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(205px, 100%), 1fr));
    grid-template-columns: repeat(6, 1fr);
    gap: var(--gap);
    padding: 0;

    & li {
        border-radius: var(--radius);
        overflow: clip;

        &:has([open]) {
            display: flex;
            background: var(--open);
            height: 100%;
            flex-direction: row;
            order: -1;
            grid-column: span 3;
            grid-row: span 2;
            container-type: inline-size;
        }
    }

    & img {
        display: block;
        width: 100%;
        height: var(--height);
        object-fit: cover;
        object-position: top;
        transition: none;
    }
}

/* Open Details - Portfolio */
#portfolio details {
    &[open] {
        display: contents;
        
        &, & summary {
            /* Don't close the details element if someone clicks the text */
            pointer-events: none;
        }

        & summary {
            min-width: 50%;
        }
        
        & .full-details {
            padding: 35px 40px;
            height: 100%;
            
            @container (width < 4000px) {
                padding: clamp(15px, 8.75cqh, 35px) clamp(2ch, 10cqw, 40px);
                padding: clamp(15px, 3cqh, 35px) clamp(2ch, 5cqw, 40px);
                font-size: clamp(17.5px, 3.5cqh, 1rem);
                line-height: clamp(1em, 5cqh, 1.3em);
            }
        }

        & img {
            height: calc((var(--height) * 2) + var(--row-gap));
            min-height: 100%;
        }

        &:is(a, button) {
            /* Restore clickability for link */
            pointer-events: all;
        }
    }

    &:not([open]) {
        cursor: pointer;
    }
}

@media (max-width: 1550px) {
    .samples-list {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(min(var(--height), 100%), 1fr));
    }
    .samples-list li:has([open]) {
        grid-row: span 3;
        flex-direction: column;
    }
    .full-details {
        max-height: calc(var(--height) + var(--column-gap));
    }
}

@media (max-width: 1200px) {
    /* #portfolio details[open] .full-details {
        padding: calc(var(--row-gap) / 2) calc(var(--column-gap) / 2);
    } */
}
@media (max-width: 1000px) {
    .samples-list {
        grid-template-columns: repeat(6, 1fr);
    }
    .samples-list li {
        max-height: calc(var(--height) * .5);
    }
    .samples-list li:has([open]) {
        grid-column: span 6;
        max-height: unset;
    }
    /* #portfolio details[open] .full-details {
        padding: calc(var(--row-gap) / 2) calc(var(--column-gap) / 2);
    } */
}


/* Resume styles */

#resume  {
    --column-gap: clamp(30px, 3vw, 100px);

    text-wrap: pretty;

    & > section {
        margin-bottom: 3em;

        @media print {
            margin-bottom: 1.5em;
        }

        & > :first-child {
            /* Put a border under h2 and span:has(h2) */
            --heading-margin: .6em;
            border-bottom: 1px solid currentColor;
            padding-bottom: 2px;

            @media print {
                border-bottom-color: var(--light-text);
            }
        }
    }

    & > section > ul,
    :is(.summary-section, .testimonials-disclosure section ) {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(385px, 100%), 1fr));
        gap: var(--row-gap) var(--column-gap);

        &:is(.skills-section ul) {
            gap: var(--column-gap);
            columns: 3 auto;
            display: block;
            column-fill: balance;
            
            & li {
                break-inside: avoid;
            }
        }
    }

    li>h3+* {
        /* Remove gap from below heading and add it following that element */
        margin-top: calc(var(--heading-margin) * -1);
        margin-bottom: var(--heading-margin);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2ch;
        display: block;
    }

}

.bulleted {
    list-style: disc;   

    & li:not(:last-child) {
        margin-bottom: .25em;
    }
}

.indented {
    margin-left: 2ch;
}

@media print {
    :is(.bulleted, .indented) {
        margin-left: 3ch;
    }
}

.two-columns {
    grid-column: span 2;
    
    :is(ul) {
        columns: 2 auto;
        gap: var(--gap);
        column-fill: balance;

        & li {
            break-inside: avoid;
        }
    }
}

.summary-section {
    
    & h2 {
        grid-column: 1 / -1;
    }

    & p {
        max-width: 73ch;

        @media print {
            max-width: 100%;
        }
    }

    & p:first-of-type {
        margin-top: calc(var(--row-gap) * -1);
    }

}
@media print {
    #resume .summary-section {
        /* Make column span width of page */
        grid-template-columns: 1fr;
        --column-gap: 0;
    }
}

.projects-section {

    & h3 span {
        display: inline-block;
        text-transform: capitalize;
    
        &::before {
            content: ' - ';
        }
    }
}



.testimonials-disclosure {

    &:is([open]) {
        display: flex;
        flex-direction: column-reverse;
        gap: var(--gap);

        &>details {
            display: contents;
        }
    }

    & section {
        margin-top: 1em;
    }

    & h3 {
        display: none;
    }

    /* Toggle "View/hide project feedback" */
    & summary::before {
        content: 'View ';
    }
    & summary:is([open] summary)::before {
        content: 'Hide ';
    }

    @media print {
        display: none;
    }
}

blockquote {
    font-weight: normal;
    font-style: italic;
    
    &::before {
        content: '“';
        position: absolute;
        top: 0;
        left: -1ch;
    }

    & + figcaption {
        /* font-weight: bold; */
    }
}


/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media print {
        display: none;
    }
}

.contact-list {
    display: flex;
    gap: var(--small-gap);
    align-items: center;
    
    & a {
        display: block;
        height: 30px;
    }
}