/* Resets */

*,
*:before,
*:after {
    box-sizing: border-box;
}

details[open],
details[open] summary {
    /* Don't close the details element if someone clicks the text */
    pointer-events: none;
}

details[open] a {
    /* Restore clickability for link */
    pointer-events: all;
}

details:not(:is([open])) {
    cursor: pointer;
}

summary::-webkit-details-marker,
summary::marker {
    /* Remove <details> triangle in Chrome, Safari and Firefox */
    display: none;
    content: none;
}

summary {
    /* Remove <details> triangle in Firefox */
    list-style-type: none;
    list-style: none;
}


/* Styles */

:root {
    font-size: 20px;
    color: #666;
    overflow-x: clip;
    --sans-serif: "Afacad Flux", sans-serif;
    --background: #031126;
    --open: #192a43;
    --color: #ecf0fe;
    --accent: #28c8b0;
    --accent-2: #9f40b0;
    --row-gap: 1rem;
    --column-gap: 30px;
    --height: 25vh;
    --gap: var(--row-gap) var(--column-gap);
    --padding: var(--row-gap) var(--column-gap);
    --radius: 4px;
    background: var(--background);
    color: var(--color);
    font-family: var(--sans-serif);
}

@media (max-width: 1218px) {
     :root {
        --height: 20vh;
    }
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1800px;
    padding-inline: clamp(15px, 6vw, 100px);
}

header,
main,
footer {
    padding-block: var(--row-gap);
}

:is(h1, h2, h3, h4) {
    font-family: "Besley", serif;
    letter-spacing: -.05ch;
    margin-block: 0;
    font-weight: 500;
    line-height: 1;
}

main :is(h1, h2, h3, h4) {
    margin-bottom: .75em;
}

main :is(h1, h2, h3, h4):is(:last-child) {
    margin-bottom: 0;
}

h1 {
    font-size: 1em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.15em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: .75rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    transition: .125s color ease-in-out;
    color: var(--accent);
}

a:is(:hover, :focus) {
    color: var(--color);
}

a.category-link {
    color: var(--color);
}

a:is(:hover, :focus).category-link {
    color: var(--accent);
}


/* Header */

header {
    --gap: 15px;
    display: flex;
    align-items: center;
    gap: var(--gap);
    justify-content: space-between;
}

header label {
    font-family: var(--sans-serif);
    font-weight: 300;
    font-size: 1.2em;
    cursor: pointer;
    transition: .125s color ease-in-out;
}

header label:has(:checked) {
    color: var(--accent);
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
}

.contact-list {
    display: flex;
    gap: var(--gap);
    align-items: center;
}

li:has(.contact-list) {
    margin-left: auto;
}

.contact-list a {
    display: block;
    height: 30px;
}


/* Main */

header:has([data-toggle="development"]:checked)~main>#web-development-list,
header:has([data-toggle="design"]:checked)~main>#graphic-design-list {
    opacity: 1;
    display: grid;
}

.samples-list {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: var(--gap);
    padding: 0;
}

.samples-list:is(#web-development-list) {
    @media (max-width: 1615px) {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    }
}

.samples-list li {
    border-radius: var(--radius);
    &:not(:first-child):not(:last-child) {
        overflow: clip;
    }
}

.samples-list li:is(:first-child, :last-child) {
    /* List title and category link */
    grid-column: 1 / -1;
}

.samples-list li:is(:first-child) {
    /* List title */
    order: -2;
}

.samples-list li:has([open]) {
    display: flex;
    background: var(--open);
    height: 100%;
    flex-direction: row;
    order: -1;
    grid-column: span 3;
    grid-row: span 2;
    @media (max-width: 1600px) {
        grid-column: span 3;
    }
    @media (max-width: 1364px) {
        grid-row: span 3;
    }
    @media (max-width: 1365px) {
        flex-direction: column;
    }
    @media (max-width: 1150px) {
        grid-column: span 2;
    }
}

.samples-list:is(#web-development-list) li:has([open]) {
    @media (max-width: 1615px) {
        grid-column: span 4;
    }
    @media (max-width: 1218px) {
        /* grid-column: 1 / 6; */
        grid-row: span 3;
    }
    @media (max-width: 970px) {
        grid-column: 1 / -1;
        grid-row: unset;
    }
}

.samples-list:is(#graphic-design-list) li:has([open]) {
    flex-direction: column;
    grid-row: span 3;
    @media (max-width: 850px) {
        grid-column: 1/-1;
    }
}

.samples-list:is(#web-development-list) li:nth-of-type(n + 8):not(:last-child) {
    @media (max-width: 1036px) {
        /* display: none; */
    }
}


/* Open Details */

details[open] {
    display: contents;
}

#graphic-design-list summary {
    background: white;
    width: 100%;
    height: 100%;
}

details[open] summary {
    min-width: 50%;
}

.samples-list img {
    display: block;
    width: 100%;
    height: var(--height);
    object-fit: cover;
    object-position: top;
    transition: none;
}

.samples-list img[src*="svg"] {
    /* Graphic design images */
    object-position: center;
    object-fit: contain;
}

details[open] img {
    height: calc((var(--height) * 2) + var(--row-gap));
    min-height: 100%;
}

details[open] img:is(#graphic-design-list img) {
    margin-inline: auto;
}

.full-details {
    padding: 35px 40px;
    height: 100%;
    @media (max-width: 1200px) {
        padding-inline: var(--gap);
    }
}