*,
*:before,
*:after {
    box-sizing: border-box;
}

:root {
    font-size: 20px;
    color: #666;
    overflow-x: clip;
    --sans-serif: "Afacad Flux", sans-serif;
    --background: #031126;
    --open: #192a43;
    --color: #ecf0fe;
    --accent: #28c8b0;
    --accent-2: #9f40b0;
    --row-gap: 1rem;
    --column-gap: 30px;
    --gap: var(--row-gap) var(--column-gap);
    --padding: var(--row-gap) var(--column-gap);
    --radius: 4px;
    background: var(--background);
    color: var(--color);
    font-family: var(--sans-serif);
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-width: 1800px;
    padding-inline: clamp(15px, 6vw, 100px);
}

header,
main,
footer {
    padding-block: var(--row-gap);
}

summary {
    /* Remove triangle in Firefox */
    list-style-type: none;
    /* display: contents; */
}

summary::-webkit-details-marker {
    /* Remove triangle in Chrome */
    display: none;
}

:is(h1, h2, h3, h4) {
    font-family: "Besley", serif;
    letter-spacing: -.05ch;
    margin-block: 0;
    font-weight: 500;
    line-height: 1;
}

main :is(h1, h2, h3, h4) {
    margin-bottom: .75em;
}

main :is(h1, h2, h3, h4):is(:last-child) {
    margin-bottom: 0;
}

h1 {
    font-size: 1em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.15em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: .75rem;
}

p:last-child {
    margin-bottom: 0;
}

a {
    transition: .125s color ease-in-out;
    color: var(--accent);
}

a:is(:hover, :focus) {
    color: var(--color);
}

a.category-link {
    color: var(--color);
}

a:is(:hover, :focus).category-link {
    color: var(--accent);
}


/* Header */

header {
    --gap: 15px;
    display: flex;
    align-items: center;
    gap: var(--gap);
    justify-content: space-between;
}

header label {
    font-family: var(--sans-serif);
    font-weight: 300;
    font-size: 1.2em;
    cursor: pointer;
    transition: .125s color ease-in-out;
}

header label:has(:checked) {
    color: var(--accent);
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
}

.contact-list {
    display: flex;
    gap: var(--gap);
    align-items: center;
}

li:has(.contact-list) {
    margin-left: auto;
}

.contact-list a {
    display: block;
    height: 30px;
}


/* Main */

main {
    /* Hide main sections unless a button is checked */
}

header:has([data-toggle="development"]:checked)~main>#web-development-list,
header:has([data-toggle="design"]:checked)~main>#graphic-design-list {
    opacity: 1;
    display: grid;
}

.samples-list {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: var(--gap);
    padding: 0;
}

#graphic-design-list:is(.samples-list) {
    grid-template-columns: repeat(6, 1fr);
}

.samples-list li {
    border-radius: var(--radius);
}

.samples-list li:not(:first-child):not(:last-child) {
    overflow: clip;
}

#graphic-design-list:is(.samples-list) li {
    /* Center image even when description text is long in deatils[open] */
    display: flex;
    align-items: center;
}

#graphic-design-list:is(.samples-list) li:not(:first-child):not(:last-child) {
    /* Cover gap when image won't fill height */
    background: white;
    justify-content: center;
}

.samples-list li:has(h2, .category-link) {
    grid-column: 1 / -1;
}

.samples-list li:has(h2) {
    order: -2;
}

.samples-list li:has([open]) {
    order: -1;
    grid-column: span 3;
    grid-row: span 2;
}

#graphic-design-list:is(.samples-list) li:has([open]) {
    grid-column: span 2;
    grid-row: span 2;
}

#graphic-design-list:is(.samples-list) details:is([open]) {
    flex-direction: column
}

.samples-list summary {
    list-style: none;
}

.samples-list summary::-webkit-details-marker,
.samples-list summary::marker {
    /* Remove <details> triangle in Safari */
    display: none;
    content: none;
}

summary:has(.samples-list img[src*="svg"]) {
    background: white;
}

.samples-list img {
    --height: 25vh;
    display: block;
    width: 100%;
    height: var(--height);
    object-fit: cover;
    object-position: top;
    transition: none;
}

.samples-list img[src*="svg"] {
    object-position: center;
}

li:has(.category-link) {
    grid-column: 1/-1;
}

@media (max-width: 1750px) {
    #graphic-design-list:is(.samples-list) {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1615px) {
    #web-development-list:is(.samples-list) {
        grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    }
    #web-development-list:is(.samples-list) li:has([open]) {
        grid-column: span 4;
    }
}

@media (max-width: 1218px) {
    #web-development-list:is(.samples-list) li:has([open]) {
        grid-column: 1 / 6;
        grid-row: span 2;
    }
    .samples-list img {
        --height: 20vh;
    }
}

@media (max-width: 1036px) {
    #web-development-list:is(.samples-list) li:nth-of-type(n + 8):not(:last-child) {
        display: none;
    }
}

@media (max-width: 850px) {
    #graphic-design-list:is(.samples-list) li:has([open]) {
        grid-column: 1/-1;
    }
}


/* Open Summary */

li:has(details[open]) {
    display: flex;
    background: var(--open);
    height: 100%;
    flex-direction: row;
}

details[open] {
    display: contents;
}

details[open],
details[open] summary {
    /* Don't close the details element if someone clicks the text */
    pointer-events: none;
}

details[open] details[open] a {
    pointer-events: all;
}

details:not(:is([open])) {
    cursor: pointer;
}

details[open] summary {
    min-width: 50%;
    /* background: var(--open);
    height: 100%; */
}

@media screen and (min--moz-device-pixel-ratio:0) {
    /* Firefox will not display <details>[open] descendents horizontally even with flex-direction: rows;  */
    /* .samples-list li:has([open]) {
        grid-column: span 3;
        }
        details[open] img {
            height: var(--height);
            } */
}

@supports (-webkit-backdrop-filter: blur(10px)) {
    /* Safari will not display <details>[open] descendents horizontally even with flex-direction: rows;  */
    /* .samples-list li:has([open]) {
        grid-column: span 3;
    }
    details[open] img {
        height: var(--height);
    } */
}

#graphic-design-list details[open] summary {
    background: white;
}

details[open] img {
    height: calc((var(--height) * 2) + var(--row-gap));
    min-height: 100%;
}

#graphic-design-list details[open] img {
    height: calc((var(--height)* 1) + var(--row-gap));
    width: auto;
    margin-inline: auto;
}

.full-details {
    padding: 35px 40px;
    height: 100%;
}

@media (max-width:1200px) {
    .full-details {
        padding-inline: var(--gap);
    }
}


/* Scroll on hover */


/* .samples-list details:not([open]) img {
    transition: 1s object-position;
}

.samples-list details:not([open]):is(:hover, :focus) img {
    object-position: bottom;
    transition: 10s object-position;
} */

@media (max-width: 1600px) {
    .samples-list li:has([open]) {
        grid-column: span 3;
    }
}

@media (max-width: 1360px) {
    .samples-list li:has([open]),
    #graphic-design-main .samples-list li:has([open]) {
        grid-column: span 3;
        grid-row: span 3;
    }
    details[open] {
        flex-direction: column;
    }
}

@media screen and (min--moz-device-pixel-ratio: 0) and (max-width: 1363px) {
    */
    /* Firefox will not display <details>[open] descendents horizontally even with flex-direction: rows;  */
    /* details[open] img {
        height: calc(var(--height) * 2);
    } */
}

@supports (-webkit-backdrop-filter: blur(10px)) {
    @media (max-width: 1363px) {
        /* Safari will not display <details>[open] descendents horizontally even with flex-direction: rows;  */
        /* details[open] img {
            height: calc(var(--height) * 2);
        } */
    }
}

@media (max-width: 1364px) {
    .samples-list li:has([open]),
    #graphic-design-main .samples-list li:has([open]) {
        grid-column: span 3;
        grid-row: span 3;
    }
    details[open] {
        flex-direction: column;
    }
}

@media (max-width: 1150px) {
    .samples-list li:has([open]) {
        grid-column: span 2;
    }
}